RewriteEngine on

RewriteRule ^poeny/rss.cgi$ https://fuktommy.com/poeny/rss [R=301,L]

RewriteRule ^hateber/(.*)    https://hateber.fuktommy.com/$1             [R=301,L]
RewriteRule ^htmlpp/blog-pin https://fuktommy.com/homebin/blog-ping      [R=301,L]
RewriteRule ^htmlpp/tinyhttp https://fuktommy.com/homebin/tinyhttpd      [R=301,L]
RewriteRule ^htmlpp/htmlpp   https://fuktommy.com/homebin/htmlpp         [R=301,L]
RewriteRule ^htmlpp/mkrss    https://fuktommy.com/homebin/mkrss          [R=301,L]
RewriteRule ^htmlpp/mksitema https://fuktommy.com/homebin/mksitemap      [R=301,L]
RewriteRule ^homebin/(.*)    https://github.com/fuktommy/homebin/blob/master/$1 [R=301,L]
RewriteRule ^niconico/d_ani  https://dani.fuktommy.com/                  [R=301,L]
RewriteRule ^script/csvview  https://fuktommy.com/homebin/csvview        [R=301,L]
RewriteRule ^script/filediet https://fuktommy.com/homebin/filediet       [R=301,L]
RewriteRule ^script/mkpswd   https://fuktommy.com/homebin/mkpswd         [R=301,L]
RewriteRule ^script/parse-qu https://fuktommy.com/homebin/parse-query    [R=301,L]
RewriteRule ^script/riget    https://fuktommy.com/homebin/riget          [R=301,L]
RewriteRule ^script/rss2hate https://fuktommy.com/homebin/rss2hatena     [R=301,L]
RewriteRule ^script/sweetumb https://fuktommy.com/homebin/sweetumb       [R=301,L]
RewriteRule ^script/twitter- https://fuktommy.com/homebin/twitter-backup [R=301,L]
RewriteRule ^script/xmlcheck https://fuktommy.com/homebin/xmlcheck       [R=301,L]
RewriteRule ^script/zgu      https://fuktommy.com/homebin/zgu            [R=301,L]
RewriteRule ^sns$            http://www.fuktommy.com/sns                 [R=301,L]

RewriteRule ^js/nicovideo_player_to_link.user.js https://fuktommy.com/niconico/player_to_link.user.js [R=301,L]
RewriteRule ^js/nicovideo_scroll.user.js         https://fuktommy.com/niconico/jkscroll.user.js [R=301,L]
