body {
    padding: 20px;
}

div#maincolumn {
    width: 75%;
    float: left;
    border: 1px solid gray;
    padding: 1em;
    margin-bottom: 1em;
}

div#sidebar {
    float: right;
    width: 20%;
    padding: 0;
}

div#sidebar h2 {
    margin-bottom: 0;
}

div#sidebar ul {
    margin-top: 0;
    margin-left: 0;
    padding-left: 1em;
}

div#sidebar li {
    list-style: none;
}

p#sidebarctrl {
    text-align: right;
    margin-top: 0;
    padding-top: 0;
}

p.sitename {
    font-size: 300%;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    background-color: #efefef;
    margin: 0;
    padding: 0;
}

p.sitename a {
    text-decoration: none;
}

form#searchbar p {
    text-align: right;
    width: 180px;
}

form#searchbar input#searchbox {
    width: 90%;
}

a:hover {
    color: #000;
    background-color: #aaf;
}

div#maincolumn h1 {
    margin-top: 0;
}

dd {
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 5px;
}

p#sidebarctrl {
    font-size: 80%;
}

pre.code {
    border: solid 1px #7f7;
    padding: 0 1ex;
}
