div.localjump {
    color: #c63;
    padding: .5em;
    margin-bottom: 1em;
}
div.localjump a {
    font-size: x-small;
    color: white;
}
div.localjump a:hover {
    color: black;
}

div.menu {
    padding-top: .5em;
    border-top: 1px dotted #fcc;
    text-align: right;
    font-weight: bold;
}

div.sidebar {
    position: absolute;
    top: 0; right: 0; width: 150px;
    font-size: x-small;
    padding: 0;
    margin: 5px;
    background-color: transparent;
}

body {
    margin: 0 155px 0 0;
    padding: 0 5px 0 0;
    font-family: Verdana;
    color: black;
    background-color: #ffc;
}

.header {
    color: white;
    background-color: #f96;
    padding: .5em;
    margin-bottom: 1em;
}

.header a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

p {
    line-height: 130%;
}

a {
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: black;
    background-color: #cef;
    text-decoration: none;
}

.footer {
    margin-bottom: 5em;
    text-align: right;
}

.footer a {
    background-color: transparent;
    text-decoration: none;
}


h2 {
    margin: 0;
    padding: .5em;
    font-size: medium;
}

div.item {
    margin: 0 0 2em 1em;
    background-color: white;
}

div.body {
    margin: 0 0 2em 1em;
    background-color: transparent;
}

div.ads {
    margin: 0 0 2em 1em;
}

/* colors for styles */
.title0 { color: #300; background-color: #f96; border: 1px solid #f96; }
.title1 { color: #030; background-color: #cfc; border: 1px solid #cfc; }
.title2 { color: #300; background-color: #fcc; border: 1px solid #fcc; }
.title3 { color: #330; background-color: #ff6; border: 1px solid #ff6; }
.title4 { color: #003; background-color: #ccf; border: 1px solid #ccf; }
.title5 { color: #000; background-color: #ccc; border: 1px solid #ccc; }
.title6 { color: #003; background-color: #ce8; border: 1px solid #ce8; }
.title7 { color: #003; background-color: #acf; border: 1px solid #acf; }
.title8 { color: #300; background-color: #fc8; border: 1px solid #fc8; }
.title9 { color: #300; background-color: #edc; border: 1px solid #edc; }
.title10 { color: #000; background-color: #eee; border: 1px solid #eee; }
.titleX { color: #000; background-color: #fc6; border: 1px solid #fc6; }
.border0 { border: 1px solid #f96; padding: .5em;}
.border1 { border: 1px solid #cfc; padding: .5em;}
.border2 { border: 1px solid #fcc; padding: .5em;}
.border3 { border: 1px solid #ff6; padding: .5em;}
.border4 { border: 1px solid #ccf; padding: .5em;}
.border5 { border: 1px solid #ccc; padding: .5em;}
.border6 { border: 1px solid #ce8; padding: .5em;}
.border7 { border: 1px solid #acf; padding: .5em;}
.border8 { border: 1px solid #fc8; padding: .5em;}
.border9 { border: 1px solid #edc; padding: .5em;}
.border10 { border: 1px solid #eee; padding: .5em;}
.borderX { border: 1px solid #fc6; padding: .5em; background-color: #ffc; }
